.red-highlight {
   color: var(--red);
}

.blackSpotDescription form > div:nth-child(2) {
    position: relative; 
}

.blackSpotDescription label {
    border-radius: var(--standard-border-radius);
    font-size: var(--standard-font-size);
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    margin: auto;
  
}

.blackSpotDescription input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
    margin-right: 0.65rem;
}

.blackSpotDescription label a {
    color: var(--black);
    margin: 0 2px;
}

.blackSpotDescription img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--standard-border-radius);
    
}

.blackSpotDescription h2 {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 1rem;
    text-align: left;
}

.blackSpotDescription  {
    font-size: var(--standard-font-size);
    text-align: left;
    color: var(--black);

}

.votingSection  {
    display: flex;
    justify-content: space-between;
}

/* #markerNote {
    resize: none;
    border-radius: 0.2rem;
    width: 95%;
    height: 6rem;
    padding: 0.4rem;
}

#submitOrCleanButtons-container {
    display: flex;
    justify-content: space-between;
    
}


#submitOrCleanButtons-container button {
    
    height: 3rem;
    border-radius: var(--standard-border-radius);
    font-size: var(--standard-font-size);
    cursor: pointer;
}

#cleanButton {
    background-color: var(--red);
    color: var(--white);
}
#submitButton {
    background-color: var(--green);
    color: var(--white);
    width: 100% !important;
}

#popupSubmitButton {
    background-color: var(--green);
    color: var(--white);
    width: 100% !important;
} */

.votingSection {
    background-color: var(--place-holder-color);
    border-radius: 8px;
    width: fit-content;
    padding: 0.5rem;
    color: white;
    margin-left: auto;
}

.votingSection p {
    margin-left: 10px;
    font-size: var( --almost-big-font-size);
    font-weight: 500;
}

.votingSection svg {
    margin-top: 2.5px;
    cursor: pointer;
    transform: rotate(-90deg);
    background-color: var(--gray-outlines);
    border-radius: 5px;
    padding: 3px;
}

.votingSection svg:hover {
    transition: 0.3s all ease;
    filter: brightness(1.1);
}

.upvoted {
    background-color: orangered !important;
}