.red-highlight {
   color: var(--red);
}

.blackSpotDescription div{
    padding: 5px;
}

.blackSpotDescription form > div:nth-child(2) {
    position: relative; 
}

.blackSpotDescription label {
    border-radius: var(--standard-border-radius);
    font-size: var(--standard-font-size);
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    margin: auto;
  
}

.blackSpotDescription input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
    margin-right: 0.65rem;
}

.blackSpotDescription label a {
    color: var(--black);
    margin: 0 2px;
}

.blackSpotDescription img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--standard-border-radius);
    
}

.blackSpotDescription h2 {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 1rem;
    text-align: left;
}

.blackSpotDescription  {
    font-size: var(--standard-font-size);
    text-align: left;

}

.votingSection  {
    display: flex;
    justify-content: space-between;
}

.votingSection button{
    background-color: #7C7C7C;
    width: 5rem;
    
}



/* #markerNote {
    resize: none;
    border-radius: 0.2rem;
    width: 95%;
    height: 6rem;
    padding: 0.4rem;
}

#submitOrCleanButtons-container {
    display: flex;
    justify-content: space-between;
    
}


#submitOrCleanButtons-container button {
    
    height: 3rem;
    border-radius: var(--standard-border-radius);
    font-size: var(--standard-font-size);
    cursor: pointer;
}

#cleanButton {
    background-color: var(--red);
    color: var(--white);
}
#submitButton {
    background-color: var(--green);
    color: var(--white);
    width: 100% !important;
}

#popupSubmitButton {
    background-color: var(--green);
    color: var(--white);
    width: 100% !important;
} */