.red-highlight {
   color: var(--red);
}

.report-form form > div:nth-child(2) {
    position: relative; 
}

.report-form label {
    border-radius: var(--standard-border-radius);
    font-size: var(--standard-font-size);
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    margin: auto;
    margin-bottom: 1rem;
}

.report-form input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
    margin-right: 0.65rem;
}

.report-form label a {
    color: var(--black);
    margin: 0 2px;
}

#markerNote {
    height: 4rem; 
    width: 100%;
}

#submitOrCleanButtons-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; /* This will put some space between the buttons */
    
}


#submitOrCleanButtons-container button {
    display: flex;
    height: 3rem;
    border-radius: var(--standard-border-radius);
    font-size: var(--standard-font-size);
    cursor: pointer;
}

#cleanButton {
    background-color: var(--red);
    color: var(--white);
}
#submitButton {
    display: block !important;
    text-align: center;
    font-size: var(--button-font-size) !important;
    background-color: var(--green);
    color: var(--white);
    width: 100% !important;
}
#popupSubmitButton {
    background-color: var(--green);
    color: var(--white);
    width: 100% !important;
}

button p {
    font-size: var(--almost-big-font-size);
}

button p:first-child {
    font-size: var(--huge-font-size);
}

#markerTitle {
    height: 2.5rem; 
    width: 100%;
}

.report-form textarea {
    margin-top: 1rem;
    resize: none;
    border-radius: 5px;
    height: 2rem;
    font-size: var(--button-font-size);
    padding: 0 0.5rem;
    border-color: var(--gray-outlines);
    padding-top: 0.25rem;
}

.css-t3ipsp-control {
    color: var(--place-holder-color);
    text-align: left;
    margin-top: 1rem;
}

.css-13cymwt-control {
    text-align: left;
    color: var(--place-holder-color);
    margin-top: 1rem;
}