.report-button {
    position: fixed;
    height: 90px;
    width: 90px;
    bottom: 25px;
    right: 25px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--black);
    border: none;
    border-radius: 50%;
    box-shadow: var(--button-box-shadow);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.report-button span {
    font-size: 66px;
    text-align: center;
    position: relative; 
    z-index: var(--button-z-index); 
    height: fit-content;
}

.report-button span::before, .report-button span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--white);
}

.report-button span::before {
    transform: translate(-50%, -50%) rotate(0deg);
}

.report-button span::after {
    transform: translate(-50%, -50%) rotate(90deg);
}