.App {
  text-align: center;
}

.leaderboard {
  position: absolute;
  top: -8px;
  left: 0;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
  width: 100%;
}

.leaderboard-inner {
  width: 100%;
  border-radius: 10px;
  background: white;
  padding: 1rem
}

.spot-leaderboard {
  font-size: larger;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem
}

.leaderboard-counter {
  width: 14%;
}

.leaderboard-name {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
}