#map-container {
  z-index: 10;
  width: 100%;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}


#popupSubmitForm {
  position: fixed;
  top: 10%;
}

.maplibregl-ctrl-bottom-right  {
  display: none;
}

.popupSubmitForm {
  width: 70vw;
  display: flex;
  flex-direction: column;
  top: 25%;
  background-color: var(--black);
  color: var(--white);
  max-width: 250px;
}

#buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons-container span button {
  padding: 0.5rem;
  min-width: 100px;
}

#popupExitButton {
  background-color: var(--place-holder-color);
  color: var(--white);
}

.popupSubmitForm h1 {
  font-size: var(--almost-big-font-size);
  text-align: center;
}

/*
.maplibregl-marker {
  filter: brightness(0%);
}
 */

/* modify this only if any parent has class 'green-marker' */
.maplibregl-marker > svg > g > g:nth-child(2) {
  fill: black !important;
}
.green-marker > svg > g > g:nth-child(5) > circle:nth-child(2) {
  fill: #2acc3a !important;
}
.black-marker > svg > g > g:nth-child(5) > circle:nth-child(2) {
  fill: white !important;
}
